
header{
	margin-top: 10px;
	margin-bottom: 10px;

}

nav{
	font-family: "Perpetua";
	text-align: center;;
}

/*.navbar1{
		display: block;
	}

	.navbar2{
		display: none;

	}*/



.close2{
	font-size: 33px;
    margin-right: 19px;
}

.navbar-responsive{
	background-color: #f0f0f0;
    bottom: 0;
    
    display: none;
    height: 101%;
    position: fixed;
    top: -1px;
    width: 30%;
    z-index: 5;
}

.navbar-responsive p{
	font-family: "Felix Titling";
    font-size: 14px;
    margin-left: 25px;
    margin-top: 22px;
    color:black;
}

.navbar-responsive a:hover{
	text-decoration:none;
}

.navbar-responsive-content{
 	margin-top: 39%;
}

.border-bottom{
	border-bottom: 1px solid #000000;
	width: 100%;
}

.border-bottom2{
	border-bottom: 1px solid #000000;
	width: 100%;
	margin-bottom: 5px;
}

.li-custom{
	width:115px;

}

.about-us-custom{
	margin-left: 257px;

}

/*.navbar-left{
	width:33.33%;
	background :#FF0000;
}

.navbar-center{
	width:33.33%;
	background :#FF0000;
}

.navbar-right{
	width:33.33%;
	background :#FF0000;
}*/

.collapse .navbar-collapse ul li{
	text-align: center !important;
}


/*css untuk halaman homepage*/

/*background navbar homepage*/
.background-biru{
	background-color: #b8e4ef;
}

.dropdown-toggle{
	background-color: #b8e4ef;
}

.dropdown-menu{
	background-color:#cbb286;
}

.dropdown-menu li a:hover{
	font-weight: bold;
}

.dropdown-attribute{
	padding: 2px 0px;
	text-align: center;
}

.dropdown li a:hover{
	padding: 2px 0px;
	text-align: center;
	background-color:#cbb286;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #b8e4ef;
    color: #555;
}

.img-center{
	margin: 0 auto;
}

/*background navbar homepage*/

/*PAGINATION*/

.pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: #FE980F;
  border-color: #FE980F;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}

.pagination  li  a, .pagination  li  span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}

.pagination  li  a:hover{
	background:#FE980F;
	color:#fff;
}

/*END PAGINATION*/

/*css untuk carousel homepage*/
.carousel{
	margin-top: -21px;
}

/*css untuk konten produk homepage*/
.row-margin{
	margin-top: 10px;
	margin-bottom: 20px;
}
/*css untuk konten produk homepage*/

/*css untuk background instagram*/
.background-instagram{
	 background: url("../images_homepage/background_instagram.png");
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 /*height: 100px;
	 width: 100px;*/
}

.custom-border-footer{
	position: relative;
	top:303px;
}

.border-instagram{
	border:1px solid #000;
	font-size: 40px;
	padding: 2px 21px;
}



/*css untuk background instagram*/

/*css untuk halaman homepage*/


/*----------------------------------------------------*/

/*css untuk halaman about us*/

.custom-row{
	margin-left: 0px;
	margin-right: 0px;
}

.our-story{
	background-color: #fffbce;
	margin-top: -22px;

}

.our-story h2{
	font-family: "Felix Titling";

}



.content-story{
	z-index: 1;
	position: relative;
	top:1px;
	background: url("../aboutus/white.png");
	
	  background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
}

.content-aboutus-top{
	background-color: #fffbce;
	padding-top: 10px;
	padding-bottom: 0px;
	
	
}

.text-justify{
	text-align: justify;
}

.aboutus-top-right {
	font-family: "Perpetua";
	font-size: 24px;
	margin-top: 50px;
	line-height: 25px;
	width:320px;
}

.content-aboutus-bottom{
	background-color: #e2efd3;
}

.content-aboutus-bottom .title .col-md-12 h2{
	font-family: "Edwardian Script ITC";
	font-size: 45px;

}

.content-aboutus-bottom .content .col-md-4 p{
	font-family: "Perpetua";
	

}
/*css untuk halaman about us*/

/*-----------------------------------------------------*/

.product{
	background-color: #f4d3d9;
	margin-top: -21px;
}

.content-product-bottom h2{
	font-family: "Felix Titling";
}




.content-product-bottom .col-md-4 p{
	background-color: #000000;
	color: #ffffff;
	font-family: "Felix Titling";
	text-align: center;
	padding-bottom: 5px;
    padding-top: 6px;
    margin-top: 15px;
}

.content-product-bottom .col-md-4 img{
	margin-top: -10px;
	margin-bottom: 15px;
}


/*-------------------------------------------------------*/

/*detail product css*/

.h2{
	font-family: "Felix Titling";
	font-size: 48pt;
}

.custom-select{

    margin-top: 18%;
}

.custom-select-1{
		width: 158px;
}

.custom-select-2{
		margin-left:14%;
}

.p{
	font-family: "Felix Titling";
	font-size: 24px;
}

.button-puttobasket{
	background: #9987b3 ;
	color: #FFFFFF;
	margin-left: 27%;
    
}

.share_medsos{
	 background-color: #fffbce;
    color: #000000;
    font-family: "Felix Tetling";
    font-size: 21px;
    line-height: 26px;
    margin-top: 5%;
    width: 66%;
    padding: 7px 0px;
    padding-left: 9px;
    padding-right: 17px;
    padding-bottom: 1px;
    padding-top: 17px;
}

.button-proceed{
	background: #ccc9b5 none repeat scroll 0 0;
    border: 1px solid #ccc9b5;
    border-radius: 2px;
    color: #000000;
    margin-left: 81%;
    margin-top: -66px;
    padding: 13px 26px;
}

.edit-table{
	/*margin-bottom: 22%;*/
}

.edit-table-1{

}

.custom-table-detail-produk{
	width: 96px;
}

.detail_product_bottom{
	/* background: rgba(0, 0, 0, 0) url("../detail_product/border.png") repeat scroll center center / cover ;*/
	/*border:3px solid #000000;*/
    margin-bottom: 10px;
    margin-top: 35px;
    padding-bottom: 20px;

}

.custom-h2{
  margin-top: -70px;
  position: absolute;
  z-index: 5;

}

.detail_product_top{
	background: #ffffff none repeat scroll 0 0;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left:43px; 
   
}

.detail-product-backbone{
/* background: rgba(0, 0, 0, 0) url("../detail_product/stripped.png") repeat scroll center center / cover ;*/
background:#e2efd3;
margin-top: -20px
}

.detail_product{
	 background: rgba(0, 0, 0, 0) url("../detail_product/stripped.png") repeat scroll center center / cover ;
}

/*detail product css*/



/*basket*/

#wrapper{
	min-height: 100%;
	min-width: 100%;
	
}

.basket-resposive{
	background-color: #FFFFFF;
    bottom: 0;
    display: none;
    left: 60%;
    margin-top: 1px;
    position: fixed;
    top: -1px;
    width: 100%;
    z-index: 5;
}

.basket{
	background-color: #e2efd3;
	margin-top:-20px;
}

.basket-top{
	padding-top: 20px;
}
.background-white{
	background-color: #FFFFFF;
}

.background-red-custom{
	 background-color: #f9b7bd;
    margin-bottom: -26px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 1px 7px 9px 16px;
}

.close1{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 14px;

}

.col1{

}

.col2{
	padding-bottom: 29px;
}

.col3{
	padding-bottom: 9px;
}

.button-proceed2{
	 margin-top: 18px;
    padding: 14px 57px;
    margin-bottom: 12px;
    background-color: #b8e4ef;
    border: 1px solid #b8e4ef;
    color: "Perpetua";
}

.image-custom{
	width: 60px;
}

.subtotal{

}

.subtotal2{
	margin-left: 4%;
}

.subtotal3{
	margin-left: 15%;
}

.btn-checkout{
	margin-left: 4%;
    padding: 1% 13%;
    font-family: "Felix Titling";
}

.table-scrool{
	height: 30%;
    overflow: scroll;
    width: 39%;
}

.deliver-date{
	margin-left: 4%;
}

.choose-area{
	margin-top: 2%;
	margin-left: 4%;
}

.area-cost{
	font-family: "Felix Tetling";
	font-size: 16px;
	margin-left: 9%;
}

.please-send-to{
	margin-top: 2%;
	margin-left: 4%;
}

.total {
	    margin-top: 2%;
	    margin-left: 4%;
}

.total2{
	margin-left: 18%;
}
 .btn-checkout{
 	 background-color: #9987b3;
 }

/*basket*/


/*your-data*/

.your-data{
	background-color: #e3efd4;
	margin-top:-20px; 
/*	padding-bottom: 50px;*/
}

.font-perpetua{
	font-family: "Perpetua";
}

.font-felix-titling{
	/*font-family: "Felix Titling";*/
	font-family: "Felix Titling";

}

.button-edit{
	font-family: "Perpetua";
	color: #000000;
	background-color: #fffbce;
}

.button-proceed3{
	font-family: "Perpetua";
	color: #000000;
	background-color:#b8e4ef;
}

.delivery-date{
	margin-top: 3%;

}

.area{
	margin-top: 5%;
}

.btn-place-order{
	background-color: #f3707c;
    width: 100%;
    color: #FFFFFF;
    font-family: "Felix Tetling";
    
    padding: 7px;

}
/*your-data*/


/*contact-us*/
.btn-submit{
	background-color: #f3707c;
	color: #FFFFFF;
	
}
/*contact-us*/


/*----------------- news -----------------------*/
.news-content{
	border-bottom: 1px solid #000000;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.news-content-detail{
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.news-content-img{
	margin-top: 10%;
}

.news-left a,p,h1{
	font-family: "Perpetua";
}

.news-left p{
	font-size: 22px;
}

.news-left a{
	font-size: 16px;

}

.latest-post h1{
	font-family: "Perpetua";
}

.latest-post a{
	width: 70%;
	display: block;
	padding: 2px 0px;
	margin: 2px 0px;
	/*font-family: "Felix Titling";*/
	font-family: "Perpetua";
	font-size: 18px;
	color: #424242;
	
}

.latest-post a:hover{
	color: #424242;
	text-decoration: none;
	/*border-bottom: 1px solid #2979ff;*/
}


.archive h1{
	font-family: "Perpetua";
}

.archive a{
	width: 70%;
	display: block;
	padding: 2px 0px;
	margin: 2px 0px;
	/*font-family: "Felix Titling";*/
	font-family: "Perpetua";
	font-size: 18px;
	color: #424242;
	border-bottom: 1px solid #424242;
}

.archive a:hover{
	color: #424242;
	text-decoration: none;
	border-bottom: 1px solid #2979ff;
}

.news-backbone{
	background-color: #bee2e1;
	margin-top: -21px;
}

.news-image-background{
	 background: rgba(0, 0, 0, 0) url("../detail_product/stripped.png") repeat scroll center center / cover ;
}

.news-background-white{
	background-color: #ffffff;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 4%;
    margin-bottom: 4%
}

.sidebar-month{
	margin-left: 4% !important ;
}

.btn-load-more{
	background-color: #f3707c;
	color: #FFFFFF;
	font-family: "Felix Tetling";
}
/*----------------- news ------------------------*/

/*-------------------- news-detail ---------------------*/

.news-detail-content{
	
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.news-detail-left a,p,h1{
	font-family: "Perpetua";
}

.news-detail-left p{
	font-size: 22px;
}

.news-detail-left a{
	font-size: 16px;

}


/*-------------------- news-detail ---------------------*/



/*--------------------------- FAQ  -------------------------*/


.faq-background-image{
	background: url("../aboutus/white.png");
}

.faq{
	margin-top: -21px;
	background-color: #cbcdcc;
	
}

.faq-background-white{
	background-color: #ffffff;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.faq-title{
	 background-color: #ccc9b5;
    font-family: "Felix Tetling";
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
     font-size: 20px;
}

.custom-margin-top{
	margin-top: -10px;
}

.faq-ask{
	background-color: #bee2e1;
	 font-family: "Felix Tetling";
    text-align: center;
    font-size: 20px;
    color: #FFF;
	margin-left: 6%;
    margin-right: 6%;
}

.faq-answer{
	
	 font-family: "Felix Tetling";
    text-align: center;
    font-size: 20px;
    color: #000;
	margin-left: 6%;
    margin-right: 6%;
}

/*--------------------------- FAQ  -------------------------*/

/*--------------------------- order ------------------------*/
.order{
	background-color: #d6c3df;
	margin-top: -21px;
}

.order-background-image{
	background: url("../aboutus/white.png");
}

.order-background-white{
	background-color: #FFF;
	border: 1px solid #ccc9b5;
}

.order-content{
	margin-left: 8%;
    margin-right: 8%;

}

.order-content-top{
	margin-bottom: 2%;
}

.order-content-bottom{
	 margin-left: 16px;
    margin-right: 14px;
    padding-bottom: 4%;
}
/*--------------------------- order ------------------------*/

/*-------------------------- footer ----------------------------*/
footer{
	  background-color: #ccc9b5;
    color: #ffffff;
   
}

.footer-margin-top{
	margin-top: -19%;
}

.footer-right a{
	color: #FFFFFF;
}

.footer-right a:hover{
	color: #FFFFFF;
}

.footer-left p{
	margin-top: 9%;
}

.footer-right p{
	margin-top: 9%;
}

/*-------------------------- footer -------------------------------*/

/*------------------------  Start media screen --------------------*/


@media (min-width:1289px){
	.navbar1{
		display: block;
	}
	

	.navbar2{
		display: none;

	}

	
	
}/*max-width:1280px*/



@media (max-width:980px){

	

	/*detail product*/
	.custom-img{
			width: 47%;
		    margin-left: 26%;
		    margin-bottom: 4%;
	}

	/*detail product*/

		.li-custom{
		width:115px;

	}

	.about-us-custom{
		margin-left: 108px;

	}

	/*.navbar1{
		display: block;
	}
	

	.navbar2{
		display: none;

	}*/

	footer {
    background-color: #ccc9b5;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
	}
	.footer-left {
	    line-height: 51px;
    	/*margin-right: -36px;*/
	}

	.footer-left p{
		margin-top: 0%;
		margin-left: 4%;
	}
	.footer-right {
	    line-height: 55px;
	   
	}

	.footer-right p{
		margin-left: 39%;
    	margin-right: 34%;
    	margin-top: -28px;
    	text-align: center;
	    
	}

	.footer-right a{
	color: #FFFFFF;
	}

	.footer-right a:hover{
		color: #FFFFFF;
	}

	.icon-facebook{
		margin-left: 3%;
	}
	
	.footer-margin-top{
	margin-top: 1%;
	}
	/*css product*/
	.content-product-bottom .col-md-4 img{
		width:100%;
    
	}
	/*css product*/

	.custom-border-footer{
		position: relative;
		top:226px;
	}	
}


@media (max-width:800px){

	/*About Us*/
	.aboutus-top-left img{
		margin-top: 17%;
	}

	/*detail product*/
	.custom-img{
			width: 47%;
		    margin-left: 27%;
		    margin-bottom: 4%;
	}

	/*detail product*/
	
	.li-custom {
	    width: 108px;
	}
	.about-us-custom {
	    margin-left: 44px;
	}

	/*.navbar1{
		display: block;
	}
	

	.navbar2{
		display: none;

	}*/

	footer {
    background-color: #ccc9b5;
    color: #ffffff;
    padding-bottom: 23px;
    padding-top: 20px;
	}

	.footer-left {
	    line-height: 51px;
	   /* margin-right: -41px;*/
	}

	.footer-left p{
		margin-left: 3%;
    	
    	text-align: center;
	    
	}

	.footer-right {
	    line-height: 55px;
	    
	}
	
	.footer-right p{
		margin-left: 42%;
    	margin-right: 34%;
    	margin-top: -28px;
    	text-align: center;
	    
	}

	.footer-right a{
	color: #FFFFFF;
	}

	.footer-right a:hover{
		color: #FFFFFF;
	}

	.icon-facebook{
		margin-left: 7%;
	}

	.footer-margin-top{
	margin-top: 1%;
	}

	/*css product*/
	.content-product-bottom .col-md-4 img{
		width:100%;
    
	}

	/*css product*/

	.custom-border-footer{
		position: relative;
		top:224px;
	}

	/*css basket	*/
	.basket-resposive {
    	left: 47%;
	}
	.table-scrool {
	    height: 59%;
	    overflow: scroll;
	    width: 51%;
	}

	.subtotal {
	    margin-top: 4%;
	    margin-left: 4%;
	}

	.btn-checkout {
	    font-family: "Felix Titling";
	    margin-left: 6%;
	    padding: 1% 13%;

	}

	
	/*css basket	*/
}

@media (max-width:768px){

	/*About Us*/
	.aboutus-top-left img{
		margin-top: 17%;
	}

	/*detail product*/
	.custom-img{
			width: 47%;
		    margin-left: 27%;
		    margin-bottom: 4%;
	}

	/*detail product*/
	
	.li-custom {
    width: 108px;
	}
	.about-us-custom {
	    margin-left: 26px;
	}

	/*.navbar1{
		display: block;
	}
	

	.navbar2{
		display: none;

	}*/


	footer {
    background-color: #ccc9b5;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
	}
	.footer-left {
	    line-height: 51px;
    	margin-right: 0px;
	}

	.footer-left p{
		margin-left: 3%;
	}
	.footer-right {
	    line-height: 55px;
	    
	}

	.footer-right p{
		margin-left: 44%;
    margin-right: 41%;
    margin-top: -28px;
    text-align: center;
	    
	}

	.footer-right a{
	color: #FFFFFF;
	}

	.footer-right a:hover{
		color: #FFFFFF;
	}

	.icon-facebook{
		margin-left: 14px;
	}

	.footer-margin-top{
	margin-top: 1%;
	}
	/*css product*/
	

	.content-product-bottom .col-md-4 img{
		width:100%;
    
	}
	/*css product*/

	.custom-border-footer{
	position: relative;
	top:224px;
	}

	/*css basket	*/
	.basket-resposive {
    	left: 47%;
	}
	.table-scrool {
	    height: 28%;
	    overflow: scroll;
	    width: 51%;
	}

	.subtotal {
	    margin-top: 2%;
	    margin-left: 4%;
	}

	.btn-checkout {
	    font-family: "Felix Titling";
	    margin-left: 6%;
	    padding: 1% 13%;
	}
	/*css basket	*/	
}

@media (max-width:480px){

	.our-story{
		margin-top:2%;
	}

	.product{
		margin-top:2%;
	}

	.order{
		margin-top:2%;
	}

	.news-backbone{
		margin-top:2%;
	}

	.faq{
		margin-top:2%;
	}

	/*about us*/
	.aboutus-top-right {
		 
	    margin-top: 35px;
	    
	    margin-left: 15%;
	}

	/*detail product*/
	.custom-img{
			width: 47%;
		    margin-left: 28%;
		    margin-bottom: 4%;
	}

	/*detail product*/
	

	/*homepage*/

	.custom-border-footer {
	   position: relative;
    	top: 369px;
	}

	.instagram-foto{
		margin-left: 11%;
	}

	

	/*homepage*/





	.navbar-responsive{
	    width: 57%;
	}

	.navbar1{
		display: none;
	}
	
/*
	.navbar2{
		display: block;

	}*/

	.icon-navbar-2{
		margin-top: 24px;
	    background: #ffffff;
	    border: 1px solid #fff;
	}

	.logo{
    	margin-top: 7px;
	}

	header{
		display: none;
	}

	.footer-left p{
	   margin-left: 5%;
	}

	.footer-right p{
		margin-left: 172px;
    margin-right: 35%;
    margin-top: -28px;
    text-align: center;
	    
	}

	.footer-right a{
	color: #FFFFFF;
	}

	.footer-right a:hover{
		color: #FFFFFF;
	}

	.icon-facebook{
		margin-left: 8px;
	}

	.footer-margin-top{
	margin-top: 1%;
	}
		

	/*css basket	*/
	.basket-resposive {
   	  left: 18%;
	}
	.table-scrool {
	    height: 28%;
	    overflow: scroll;
	    width: 82%;
	}

	.subtotal {
    margin-left: 11%;
    margin-top: 3%;
	}

	.btn-checkout {
	    font-family: "Felix Titling";
	    margin-left: 13%;
	    padding: 1% 13%;
	}
	/*css basket	*/
}

@media (max-width:360px){

	.our-story{
		margin-top:2%;
	}

	.product{
		margin-top:2%;
	}

	.order{
		margin-top:2%;
	}

	.news-backbone{
		margin-top:2%;
	}

	.faq{
		margin-top:2%;
	}

	/*detail product*/

	.custom-img{
			width: 47%;
		    margin-left: 24%;
		    margin-bottom: 4%;
	}

	.share_medsos{	
	    width: 98%;
	}

	/*detail product*/

	/*homepage*/

	.custom-border-footer {
	   position: relative;
    	top: 293px;
	}

	.instagram-foto{
		margin-left: 11%;
	}

	/*homepage*/

	.navbar-responsive{
	    width: 57%;
	}

	.navbar1{
		display: none;
	}
	
/*
	.navbar2{
		display: block;

	}*/

	.icon-navbar-2{
		margin-top: 24px;
	    background: #ffffff;
	    border: 1px solid #fff;
	}

	.logo{
		
    	margin-top: 7px;
	}

	header{
		display: none;
	}

	.footer-left p{
	   margin-left: 9%;
	}

	.footer-right p{
		margin-left: 29%;
	    margin-right: 66px;
	    margin-top: -28px;
	    text-align: center;
	    
	}

	.footer-right a{
	color: #FFFFFF;
	}

	.footer-right a:hover{
		color: #FFFFFF;
	}

	.icon-facebook{
		margin-left: 11px;
	}

	.footer-margin-top{
	margin-top: 1%;
	}
		

	/*css basket	*/
	.basket-resposive {
	    left: 0%;
	}
	.table-scrool {
	    height: 28%;
	    overflow: scroll;
	    width: 102%;
	}

	.subtotal {
	    margin-left: 12%;
	    margin-top: 3%;
	}
	.btn-checkout {
	    font-family: "Felix Titling";
	    margin-left: 19%;
	    padding: 1% 13%;
	}

	.fa-trash{
		margin-left: -7%;
   	    margin-top: 10%;
	}
	/*css basket	*/
}

@media (max-width: 320px) {
	.our-story{
		margin-top:2%;
	}

	.product{
		margin-top:2%;
	}

	.order{
		margin-top:2%;
	}

	.news-backbone{
		margin-top:2%;
	}

	.faq{
		margin-top:2%;
	}

	.navbar1{
		display: none;
	}
	/*detail product*/
		.custom-img{
			width: 47%;
		    margin-left: 24%;
		    margin-bottom: 4%;
		}
		.button-puttobasket {
		    margin-left: 15%;
		}

		.custom-select-1 {
		    width: 121px;
		}
	/*detail product*/

	/*homepage*/

	.custom-border-footer {
	   position: relative;
    	top: 293px;
	}

	.instagram-foto{
		margin-left: 11%;
	}

	/*homepage*/

	.navbar1{
		display: none;
	}

	.navbar2{
		display: block;

	}

	.icon-navbar-2{
		margin-top: 24px;
	    background: #ffffff;
	    border: 1px solid #fff;
	}

	.logo{
		
    	margin-top: 7px;
	}

	.logo1{

	}

	.margin-top{
		margin: 16px;
	}

	header{
		display: none;
	}


.footer-left p {
    margin-left: -4%;
}
.footer-right p {
   margin-left: 31%;
    margin-right: 41%;
    margin-top: -28px;
    text-align: center;
}
.footer-right a {
    color: #ffffff;
}
.footer-right a:hover {
    color: #ffffff;
}



.icon-facebook {
    margin-left: -15px;
}

.footer-margin-top{
	margin-top: 1%;
}


/*css basket	*/
	.basket-resposive {
	    left: 0%;
	}
	.table-scrool {
	    height: 28%;
	    overflow: scroll;
	    width: 102%;
	}

	.fa-trash{
		margin-left: -7%;
   	    margin-top: 10%;
	}

	.subtotal {
	    margin-left: 12%;
	    margin-top: 3%;
	}
	.btn-checkout {
	    font-family: "Felix Titling";
	    margin-left: 19%;
	    padding: 1% 13%;
	}
/*css basket	*/
}
