.panel-title.login-panel{
	color: #2579d7;
}

.panel-body .btn:hover{
	background: #2579d7;
}

.sidebar-menu-nav{
	min-height:40%;
	height: auto;
	padding-bottom: 0px;
}

.sidebar-menu-nav .panel-default{
	padding-left: 4px;
	border-radius: 0px;
	background: #1e282c;
	height: 100%;
	margin-bottom: 0px;
	border-color: #25313f;
}

.sidebar-menu-nav .panel-default li{
	list-style: none;
	padding: 8px 2px 8px 1px;
}

.sidebar-menu-nav .panel-default li a{
	color: #fff;
	font-size: 12pt;
}

.sidebar-menu-nav .panel-default li a:hover{
	color: #909090;
}

.wrap-main-content{
	margin-top: 0px;
}


/*CONTENT*/

.member-content{
	padding: 4px 28px 0px 20px;
}

.member-content .box-body table{
	color: #000;
}


.member-content .main-content-master{
	color: #000;
}

.box.content-box{
	color: #000;
}

.btn-out-front:hover{
	background: #2579d7;
	color: #fff;
}

.btn-change-password-front:hover{
	background: #2579d7;
	color: #fff;
}

.btn-change-profile-front:hover{
	background: #2579d7;
	color: #fff;
}

.btn-back-form{
	background:#ecc906;
	color: #fff;
}


.btn-back-form:hover{
	background: #f6ae13;
	color: #fff;
}

.btn-green-btn{
	background: #16b840;
	color: #fff;
}

.btn-green-btn:hover{
	background: #0aa833;
	color: #fff;
}

.btn-orange-btn{
	background: #eeaf05;
	color: #fff;
}

.btn-orange-btn:hover{
	background: #f6ae13;
	color: #fff;
}

.btn-red-btn{
	background: #de070c;
	color: #fff;
}

.btn-red-btn:hover{
	background: #b60c10;
	color: #fff;
}

.label-color{
	color:rgb(95, 95, 95);
}

/*MODALS CONTENT APPLIANCE*/

.modal-content.modal-content-custom{
	color: #000;
}


/*END MODAL APPLIANCE*/


/*END CONTENT*/
